*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
[class*="col-"]{
    background-color: #006cfa ;
    border: 1px solid white;
    min-height: 80px;
    }
.nest{
    background-color: #00e265;
    border: 1px solid #006cfa ;
    min-height: 50px;
     
}
.marg{
    margin-bottom: 20px;
}